@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
  height: 100%;
}

body {
  font-family: 'Crimson Text', serif;
  overflow: auto;
}

.reg-form {
  background: url("static/images/bkgrnd2.jpg") no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.navbar {
  background: #FFEE9E;
}

.dancers .row section {
  padding: 3rem;
  padding-top: calc(56px + 3rem);
}

.dancers .row section:first-child {
  background: #F0C808;
}

.dancers .row section:last-child {
  background: #F1E9DA;
}

.dancers .navbar-light .navbar-brand,
.dancers .navbar-light .nav-item .nav-link,
.dancers .navbar-light .navbar-text {
  border: none;
  border-radius: 0;
  color: black;
  font-weight: bold;
}

.navbar-light .navbar-text {
  font-style: italic;
  color: black;
}

.dancers blockquote {
  font-style: italic;
  font-size: 1.75rem;
}

.dancers blockquote p {
  margin: 0 auto;
}

.dancers .image-container {
  padding: 1rem;
  text-align: center;
}

.dancers img {
  max-width: 100%;
}

