<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Name of Dance App Title Here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link href="/static/project.css" rel="stylesheet"> --> 

   
    
    
</head>

  <body>
     
    <ul>
    {% for message in get_flashed_messages() %}
      <li>  {{ message }} </li>
    {% endfor %}
    </ul>
  
    <div class="container text-center"> 

    {% block content %} 
     
   
    {% endblock %}
    </div>


    {% block script %}

    {% endblock %}
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>