{% extends 'base.html' %}

{% block title %} My Saved Classes! {% endblock %}

{% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dance Compass</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <!-- Stylesheet -->
  <link rel="stylesheet"
          href="style.css">
</head>


<div id="user-log">
      <table>
        <thead>
          <tr>
            {% if session %}
              <th>
                <a href="/user-profile">My Profile</a>
              </th>
              <th>
                <a href="/logout">Logout</a>
              </th>
            {% else %}
              <th>
                <a href="/login">Login</a>
              </th>
            {% endif %}
          </tr>
        </thead>
      </table> 
</div>

<div class="container-fluid">
  <div class="row">
    <section class="left">

    <h1>My Saved Classes</h1>

      
        <div class="col-sm text-left">
          <form action= '/tracked-classes', method = 'POST'>

            {% for user_class in users_saved_classes %}
              <div id="class-saved">
                <li id="class">
                       
                  {{user_class["name"]}}
                  <br>
                  {{user_class["start_time"]}}         
                  <br>
                  {{user_class["end_time"]}} 
                  <br>
                
                  <a href= {{user_class["url"]}} target="_blank"> 
                     Event link</a></li>
                  <br>
       
                    <input type="checkbox" name="class_name" value="{{user_class["name"]}}">Mark as attended 
                  <br>   
                  <br>
            {% endfor%}
        
              <input type="submit" value="Track attended classes">
          </form>
            <br>
        </div>
      </section>

      <section class="right">
        <div class="col-sm">
    There are shortcuts to happiness 
    <br>
    and dancing is one of them.
       <div class="col-md-8">
        <br>

        <img src="\static\images\cc-image7.jpg" alt="Lights" style="width:150%">
    </div>
  </div>
       </section>
      </div>
</div>
{% endblock %}