{% extends 'base.html' %}
{% block title %}My Classes Attended{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <section class="left col-6">


    <h1>My Classes Attended</h1>


  
    <div class="col-sm text-left">
      {% for user_class in user_attended_classes %}
        <div id="class-attended">
            <li id="class">
                   
            {{user_class["name"]}}
            <br>
            {{user_class["start_time"]}}         
            <br>
            {{user_class["end_time"]}} 
            <br>
            
            <a href= {{user_class["url"]}} target="_blank"> 
              Event link</a></li>
            <br>
        </div>
    {% endfor %}
  </section>

  <section class="right col-6">
    <!-- <div class="col-sm"> -->
    Dancing with the feet is one thing,
    <br>
     but dancing with the heart is another.
       <div class="image-container">
        <br>

        <img src="\static\images\cc-image3.jpg" alt="Lights" class="image-fluid mx-auto">
    </div>
  </div>
  
  </div>
 </div>
{% endblock %}
