{% extends 'base.html' %}

{% block title %} My Saved Classes! {% endblock %}

{% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dance Compass</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <!-- Stylesheet -->
  <link rel="stylesheet"
          href="style.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="#">Dance Compass</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                
                  
                  {% if session %}
                    <li class="nav-item">
                      <a class="nav-link" href="/user-profile">My Profile</a>
                    </li>
                
              
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
                  {% endif %}
                  
          
                 <!--  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Sign Up</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/danceclass-search">Search</a>
                </li>
              </ul>
            </div>
              
              <span class="navbar-text">
                Let dance be your compass, your body your map, your soul your guide, and you will never get lost. 
              </span>
            </div>

    </nav>


<!-- <div id="user-log">
      <table>
        <thead>
          <tr>
            {% if session %}
              <th>
                <a href="/user-profile">My Profile</a>
              </th>
              <th>
                <a href="/logout">Logout</a>
              </th>
            {% else %}
              <th>
                <a href="/login">Login</a>
              </th>
            {% endif %}
          </tr>
        </thead>
      </table> 
</div> -->

<body>

<div class="container-fluid">
  <div class="row">
    <section class="left">

    <h1>My Saved Classes</h1>

      
        <div class="col-sm text-left">
          <form action= '/tracked-classes', method = 'POST'>

            {% for user_class in users_saved_classes %}
              <div id="class-saved">
                <li id="class">
                       
                  {{user_class["name"]}}
                  <br>
                  {{user_class["start_time"]}}         
                  <br>
                  {{user_class["end_time"]}} 
                  <br>
                
                  <a href= {{user_class["url"]}} target="_blank"> 
                     Event link</a></li>
                  <br>
       
                    <input type="checkbox" name="class_name" value="{{user_class["name"]}}">Mark as attended 
                  <br>   
                  <br>
            {% endfor%}
        
              <input type="submit" value="Track attended classes">
          </form>
            <br>
        </div>
      </section>

      <section class="right">
        <div class="col-sm">
    There are shortcuts to happiness 
    <br>
    and dancing is one of them.
       <div class="col-md-8">
        <br>

        <img src="\static\images\cc-image7.jpg" alt="Lights" style="width:150%">
    </div>
  </div>
       </section>
      </div>
</div>
{% endblock %}
</body>