{% extends 'base.html' %}

{% block title %} Search for dance classes now! {% endblock %}

{% block content %}

<div id="user-log">
      <table>
        <thead>
          <tr>
            {% if session %}
              <th>
                <a href="/user-profile">My Profile</a>
              </th>
              <th>
                <a href="/logout">Logout</a>
              </th>
            {% else %}
              <th>
                <a href="/login">Login</a>
              </th>
            {% endif %}
          </tr>
        </thead>
      </table> 
</div>
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1>Searh For Dance Classes Now!</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm text-left">
      Cute heading
    
      <form method="GET" action="/search-results">

        City*: 
        <br>
        <input type="text" name="city" required>
        <br>
        Distance(Miles): 
        <br>
        <input type="number" min=1 name="distance">
        <br>
        Style: 
        <br>
        <input type="text" name="style">
        <br>
        Time: 
        <br>
            <select name="time">
              <option value="today">Today</option>
              <option value="tomorrow">Tomorrow</option>
              <option value="this_week">This week</option>
              <option value="this_weekend">This weekend</option>
              <option value="next_week">Next week</option>
              <option value="this_month">This month</option>
              <option value="next_month">Next month</option>
            </select>
        <br>
        Sort by:
        <br>
            <select name="sort">
              <option value="date">Date</option>
              <option value="distance">Distance</option>
            </select>
         <br>  
         <br> 
         <button type="button" class="btn btn-outline-primary">Find Classes</button>
        <!-- <input type="submit" value="Find Classes!"> -->
    </form>
    
  </div>
   <!-- <div class="col-sm">
      Cute heading.
      <br>
      Type a bunch of cool stuff here to discuss searching for classes, 
      looking for classes where you live, where you visit. Discuss the 
      option to save the class if you want to access the info in the future.
      Maybe add a picture of the US to signify searching anywhere. 

    </div> -->
    <div class="col-sm">
    Dancing faces you toward heaven whichever direction you turn. -Terri Guillemets
       <div class="col-md-8">


        <img src="\static\images\cc-image8.jpg" alt="Lights" style="width:150%">
    </div>
  </div>
    
  
</div>
</div>

{% endblock %}