{% extends 'base.html' %}

{% block title %} Search for dance classes now! {% endblock %}

{% block content %}
<div class="container-fluid h-100">
  <div class="row text-center h-100">
    <section class="col-6">
      <h1>Search for dance classes now!</h1>
      <form method="GET" action="/search-results">
        City*: 
        <br>
        <input type="text" name="city" required>
        <br>
        Distance(Miles): 
        <br>
        <input type="number" min=1 name="distance">
        <br>
        Style: 
        <br>
        <input type="text" name="style">
        <br>
        Time: 
        <br>
            <select name="time">
              <option value="today">Today</option>
              <option value="tomorrow">Tomorrow</option>
              <option value="this_week">This week</option>
              <option value="this_weekend">This weekend</option>
              <option value="next_week">Next week</option>
              <option value="this_month">This month</option>
              <option value="next_month">Next month</option>
            </select>
        <br>
        Sort by:
        <br>
            <select name="sort">
              <option value="date">Date</option>
              <option value="distance">Distance</option>
            </select>
         <br>  
         <br> 
       
        <input class="btn" type="submit" value="Find Classes!"> 
      </form>
    </section>
    <section class="col-6">
      <blockquote>
        <p>Dancing faces you toward heaven,</p>
        <p>whichever direction you turn. -Terri Guillemets</p>
      </blockquote>
      <div class="image-container">
        <img src="\static\images\cc-image8.jpg" alt="Lights" class="image-fluid mx-auto">
      </div>
    </section>
  </div>
</div>

{% endblock %}
