{% extends 'base.html' %}

{% block title %} Snazzy dance related tag line {% endblock %}

{% block content %}

  <div class = "row">

    <h1>Greeting</h1>

    <p><a href="/danceclass-search">Find a dance class now!</a></p>

        <form method='GET' action= '/login'> 
            <input type="submit" id="login" value="Login" />
        </form>
            <br>
        <form method='GET' action= '/register'>
            <input type="submit" id="register" value="Sign Up"/>
        </form>
  </div>

{% endblock %}