{% extends 'base.html' %}

{% block title %} Snazzy dance related tag line {% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class = "row">

    <h1>Name of App Here</h1>
        </div>


        <div class="row">
            <div class="col-md-4">
  
      
                <img src="\static\images\cc-image1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                <p>dope message...</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="\static\images\cc-image4.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                <p>really dope message...</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="\static\images\cc-image2.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                <p>dopest message...</p>
                </div>
            </div>

    <div class="row">
    <p><a href="/danceclass-search">Find a dance class now!</a></p>
    </div>

    <div class="row">
        <form method='GET' action= '/login'> 
            <input type="submit" id="login" value="Login" />
        </form>
            <br>
        <form method='GET' action= '/register'>
            <input type="submit" id="register" value="Sign Up"/>
        </form>
    </div>

</div>

{% endblock %}