{% extends 'base.html' %}

{% block title %} My Profile! {% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <section class="col">
      <h1>My Compass </h1>

      <canvas id="myChart" width="200" height="50"></canvas>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="path/to/chartjs/dist/Chart.js"></script>
    </section>
  </div>
  <div class="row">
    <section class="col d-flex">
    
      <form method='GET' action= '/saved-classes'> 
        <input class="btn" type="submit" id="saved-classes" value="Saved Classes" />
      </form>
      <form method='GET' action= '/tracked-classes'> 
        <input class="btn" type="submit" id="tracked-classes" value="Classes Attended" />
      </form>
      <form method='GET' action= '/danceclass-search'> 
        <input class="btn" type="submit" id="class-search" value="Search Now">
      </form>
    </section>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    
    type: 'bar',

    
    data: {
        labels: ["January", "February", "March", "April",
                    "May", "June", "July", "August", 
                    "September", "October", "November", 
                    "December"],
        datasets: [{
            label: "My Attended Classes",
            backgroundColor: 'rgb(241, 233, 218)',
            borderColor: 'rgb(241, 233, 218)',
            data: [{{ jan }}, 2, {{ mar }}, {{ apr }}, {{ may }}, {{ jun }}, 
            {{ jul }}, {{ aug }}, {{ sep }}, {{ octo }}, {{ nov }}, {{ dec }}]
          }]},

    // Configuration options go here
    options: {}
});
</script>


{% endblock %}



  

